# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtualenv
.venv/
venv/
ENV/

# Django
db.sqlite3
staticfiles/
media/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env & secrets
.env
*.env

# Logs
*.log
